<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="../styles/styles.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="body-web">
    <div class="navbar">
        <img src="../img/logo.png" alt="Logo da Empresa">
        <div>
            <a href="./dash.html">Home</a>
            <a href="./profile.html">Profile</a>
            <a href="./sobre_nos.html">About us</a>
            <a id="logout" href="">LogOut</a>
        </div>
    </div>

    <!-- Conteúdo fake -->
    <div class="content">
        <div class="dashboard">
            <div class="dash">
                <img src="../img/dash.png" alt="Dashboard" class="responsive-image">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/logout.js"></script>
</body>
</html>
