<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogOut</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body class="body-login">
    <div class="background">
        <div class="icon-container">
            <img src="../img/logo.png" alt="Logo da Empresa">
        </div>
        <div class="container">
            <!-- <img src="../img/logout.png" alt="Alerta"> -->
            <h1 class="error">Sessão finalizada!</h1>
            <p>Esperamos vê-lo novamente em breve.</p>
            <button id="back-login" class="button-login">Entrar Novamente</button>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('back-login').addEventListener('click', function() {
            window.location.href = './';
        });
    </script>
</body>
</html>
