<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body class="body-web">

    <!-- Navbar -->
    <div class="navbar">
        <img src="../img/logo.png" alt="Logo da Empresa">
        <div>
            <a href="./dash.html">Home</a>
            <a href="./profile.html">Profile</a>
            <a href="./sobre_nos.html">About us</a>
            <a id="logout" href="">LogOut</a>
        </div>
    </div>

    <div class="content">
        <div class="team-section">
            <h2>Nossa Equipe</h2>

            <div class="team-members">
                <div class="professor-card">
                    <img src="../img/profile2.png" alt="Professor">
                    <h3>Humberto Sandmann</h3>
                    <p>Orientador do Projeto</p>
                </div>
                <div class="integrantes-row">
                    <div class="member-card">
                        <img src="../img/profile2.png" alt="Integrante 1">
                        <h3>Julia Brito</h3>
                        <p>Função: Desenvolvimento</p>
                    </div>

                    <div class="member-card">
                        <img src="../img/profile2.png" alt="Integrante 2">
                        <h3>Luan Lara</h3>
                        <p>Função: Design</p>
                    </div>

                    <div class="member-card">
                        <img src="../img/profile2.png" alt="Integrante 3">
                        <h3>Nereu Augusto</h3>
                        <p>Função: Gestão</p>
                    </div>

                    <div class="member-card">
                        <img src="../img/profile2.png" alt="Integrante 4">
                        <h3>Zou Yi Lai</h3>
                        <p>Função: Testes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../js/logout.js"></script>
</body>
</html>
